@charset "utf-8";
/* CSS Document */
.semicircle {
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

.semicircle::before {
  position: absolute;
  content: '';
  left: 50%;
  z-index: 10;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: 0px;
}
